@model IEnumerable<Jewellery.Data.Common.Models.ProductDTO>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int productIndex = 0;
}

<h2>Ürünler</h2>

@if (User.IsInRole(Jewellery.Infrastructure.Core.Constants.Roles.Admin))
{
    <p>@Html.ActionLink("Yeni Ürün Ekle", "Create")</p>
}

<div class="row">

    @foreach (var product in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Images/sample-rings.jpg" alt="" />
                <div class="caption">

                    <h3>@product.Name</h3>

                    <p>@product.Description</p>
                    <p>@product.Price</p>

                    @if (User.IsInRole(Jewellery.Infrastructure.Core.Constants.Roles.Customer))
                    {
                        <p>
                            @Html.ActionLink("Sipariş Ver", "Create", "Order", new { productId = product.Id }, new { @class = "btn btn-primary" })
                        </p>
                    }
                    else if (User.IsInRole(Jewellery.Infrastructure.Core.Constants.Roles.Admin))
                    {
                        <p>
                            @Html.ActionLink("Düzenle", "Edit", "Product", new { id = product.Id }, new { @class = "btn btn-default" })
                            @Html.ActionLink("Sil", "Delete", "Product", new { id = product.Id }, new { @class = "btn btn-danger" })
                        </p>
                    }

                </div>
            </div>
        </div>

        productIndex++;
    }
</div>