@using System.Configuration

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(ConfigurationManager.AppSettings["ApplicationName"], "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (User.IsInRole(Jewellery.Infrastructure.Core.Constants.Roles.Customer))
                    {
                        <li>@Html.ActionLink("Ürünler", "Index", "Product")</li>
                        <li>@Html.ActionLink("Siparişler", "Index", "Order")</li>
                    }

                    @if (User.IsInRole(Jewellery.Infrastructure.Core.Constants.Roles.Boiler) || User.IsInRole(Jewellery.Infrastructure.Core.Constants.Roles.Polisher) || User.IsInRole(Jewellery.Infrastructure.Core.Constants.Roles.StoneCutter))
                    {
                        <li>@Html.ActionLink("Siparişler", "Index", "Order")</li>
                    }

                    @if (User.IsInRole(Jewellery.Infrastructure.Core.Constants.Roles.Admin))
                    {
                        <li>@Html.ActionLink("Ürünler", "Index", "Product")</li>
                        <li>@Html.ActionLink("Siparişler", "Index", "Order")</li>
                        <li>@Html.ActionLink("Hesaplar", "Index", "Account")</li>
                    }

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">@User.Identity.Name</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-gear"></span> <span class="caret"></span></a>
                        <ul class="dropdown-menu">

                            <li><a href="#">Profil</a></li>

                            <li role="separator" class="divider"></li>

                            <li><a href="@Url.Action("LogOut", "Account")">Çıkış Yap</a></li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - Oragon</p>
        </footer>
    </div>

    <div class="modal fade" role="dialog" id="jwl-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)

</body>
</html>
